In [1]:
import pandas as pd

In [2]:
#1 len()
s = pd.Series(['fox',
                6,
               [3, 5, 7, 9],
               ('one', 'two', 'three')])
s.str.len()
# len() функц нь үгийн үсэг, дан тоог хоосон, list, tuple-ийг хэдэн гишүүнтэй байгаа уртыг тоолж байна

0    3.0
1    NaN
2    4.0
3    3.0
dtype: float64

In [4]:
#2 lower()
s = pd.Series(['WHITE', 'green', 'I likE PinK', 'BLue'])
s.str.lower()
# бүх утгыг жижиг үсгээр илэрхийлж байна

0          white
1          green
2    i like pink
3           blue
dtype: object

In [5]:
#3 translate()
s = pd.Series(["dog", "cat", "bird"])
m = str.maketrans({'a': 'X', 'i': 'Y', 'o': None})
s.str.translate(m)
# maketrans-ийн тусламжтай утга бүрд өөрчлөлт оруулах

0      dg
1     cXt
2    bYrd
dtype: object

In [6]:
#4 islower()
s = pd.Series(['pink', 'GREen', 'bLUE', ''])
s.str.islower()
# бүх үсэг нь жижиг байх утганд True, эсрэг бол False утга өгөх

0     True
1    False
2    False
3    False
dtype: bool

In [12]:
#5 ljust()
txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit.")
# Дараах функцийн утгын араас зай авахад ашиглах

banana               is my favorite fruit.

In [9]:
#6 upper()
s = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])
s.str.upper()
# бүх утгын үсгийг том болгох

0                 LOWER
1              CAPITALS
2    THIS IS A SENTENCE
3              SWAPCASE
dtype: object

In [11]:
import numpy as np
#7 startswith()
s = pd.Series(['bat', 'Bear', 'cat', np.nan])
s.str.startswith('b')
# Тодорхой үсгээр эхэлсэн эсэхийг шалгах

0     True
1    False
2    False
3      NaN
dtype: object

In [13]:
#8 isupper()
a = pd.Series(['leopard', 'Golden Eagle', 'SNAKE', ''])
a.str.isupper()
# Бүх үсэг нь том байвал True, үгүй бол False

0    False
1    False
2     True
3    False
dtype: bool

In [14]:
#9 rjust()
txt = "banana"
x = txt.rjust(20)
print(x, "is my favorite fruit.")
# утга хэвлэгдэхээс өмнө зай авахад ашиглах

              banana is my favorite fruit.

In [16]:
#10 find()
my_string_series = pd.Series(['San Francisco',
                              'Chicago',
                              'Traveling',
                              'Pandas',
                              'Remote Worker'], name="string_series")
my_string_series.str.find("cago")
# Тодорхой хайлтыг мөр бүрийн хамгийн өндөо индексээр илэрхийлэх

0   -1
1    3
2   -1
3   -1
4   -1
Name: string_series, dtype: int64

In [18]:
#11 endswith()
s = pd.Series(['bag', 'mouse', 'biG', np.nan])
s.str.endswith('g')
# Тодорхой үсгээр төгссөн эсэхийг шалгах

0     True
1    False
2    False
3      NaN
dtype: object

In [19]:
#12 isnumeric()
s1 = pd.Series(['one', 'two2', '3', ''])
s1.str.isnumeric()
#Тоон утга эсэхийг шалгах

0    False
1    False
2     True
3    False
dtype: bool

In [20]:
#13 center()
txt = "banana"
x = txt.center(20)
print(x)
#Өгөгдсөн индексийн голд утгыг өгөх

       banana

In [22]:
#14 rfind()
greet='Hello World'
print(greet.rfind('H')) 
#Тодорхой утгын индексийг заах

0

In [24]:
#15 get()
s = pd.Series(["String",
              (2, 3, 4),
              ["p", "q", "r"],
              234,
              -567,
              {1: "Hiii", "2": "friends"}])
s.str.get(1)
#Тодорхой заасан индекс дээрх утгыг заах

0       t
1       3
2       q
3     NaN
4     NaN
5    Hiii
dtype: object

In [25]:
#16 isalnum()
s1 = pd.Series(['two', 'two2', '2', ''])
s1.str.isalnum()
# Мөр дэх бүх тэмдэгтүүд үсэг байвал True, нэг нь биш бол False.

0     True
1     True
2     True
3    False
dtype: bool

In [26]:
#17 isdecimal()
s1 = pd.Series(['22', '³', '⅕', ''])
s1.str.isdecimal()
#Дан бүхэл тоо эсэхийг шалгах

0     True
1    False
2    False
3    False
dtype: bool

In [28]:
#18 zfill()
s = pd.Series(['-2', '2', '2000', 20, np.nan])
s.str.zfill(3)
# Заасан индэксийн тоогоор тэг нэмэгэдэх

0     0-2
1     002
2    2000
3     NaN
4     NaN
dtype: object

In [29]:
#19 index()
greet='Hello World!'
print('Index of H: ', greet.index('H'))
# Заасан үсгийн индексийн байрлал заах.

Index of H:  0

In [30]:
#20 isalpha()
s1 = pd.Series(['two', 'two2', '2', ''])
s1.str.isalpha()
# мөр бүрийн бүх тэмдэгтүүд цагаан толгойн үсгийн дарааллаар байгаа эсэхийг шалгах

0     True
1    False
2    False
3    False
dtype: bool

In [33]:
#21 split()
langs = 'C,Python,R,Java,SQL,Hadoop'
print(langs.split(','))
# өгөгдсөн тусгаарлагч/хязгаарлагчийн эргэн тойронд мөрүүдийг хуваахад ашиглагддаг.

['C', 'Python', 'R', 'Java', 'SQL', 'Hadoop']

In [34]:
#22 strip()
mystr = '     Hello World     '
mystr.strip() 
# хоосон зайг арилгах

'Hello World'

In [35]:
#23 rindex()
greet = 'Hello World!'
print('Index of H: ', greet.rfind('H'))
print('Index of o: ', greet.rindex('o'))
print('Index of l: ', greet.rindex('l'))
print('Index of World: ', greet.rindex('World'))
# өгөгдсөн мөрөнд хамгийн сүүлийн индексийг буцаадаг

Index of H:  0
Index of o:  7
Index of l:  9
Index of World:  6

In [36]:
#24 isdigit()
mystr = '12345'
print(mystr.isdigit())
#тоон үтга эсэхийг шалгах

True

In [38]:
#25 rsplit()
mystr = 'Hello World'
print('Hello     World'.rsplit())
# утга бүрийг салгах

['Hello', 'World']

In [39]:
#26 rstrip()
mystr = '     Hello World     '
mystr.rstrip()
# утгын арын зайг устгах

'     Hello World'

In [40]:
#27 capitalize()
a = 'hello world!' 
a.capitalize() 
# томоор эхлүүлэх

'Hello world!'

In [44]:
#28 isspace()
mystr = 'HelloWorld'
str.isspace()
# Өгөгдсөн мөрийн бүх тэмдэгтүүд хоосон байвал True, үгүй бол False

TypeError: unbound method str.isspace() needs an argument

In [45]:
#29 partition()
s = pd.Series(['Albert Junior Labuschagne', 'Jason Pitt-Rivers'])
s.str.partition()
# мөрийг хуваах

        0  1                   2
0  Albert     Junior Labuschagne
1   Jason            Pitt-Rivers

In [46]:
#30 lstrip()
mystr = '     Hello World     '
mystr.lstrip()
# утгын урд зайг устгах

'Hello World     '

In [47]:
#31 swapcase()
'hello world'.swapcase()
# жижиг үсэг рүү хөрвүүлсэн том үсэг бүхий мөрийн хуулбар

'HELLO WORLD'

In [48]:
#32 istitle()
greet='Hello World'
greet.istitle()
# эхний тэмдэгтийг том үсгээр, бусад нь жижиг үсгээр бичсэн эсэхийг шалгах

True

In [49]:
#33 rpartition()
mystr = 'Hello World'
print(mystr.rpartition('o'))
print(mystr.rpartition('l'))
print(mystr.rpartition('W'))
# тодорхой тусгаарлагчийн өмнөх хэсэг, тусгаарлагч өөрөө болон тусгаарлагчийн дараах хэсэг гэсэн гурван хэсэгт хуваах

('Hello W', 'o', 'rld')
('Hello Wor', 'l', 'd')
('Hello ', 'W', 'orld')